/* ALL */
html {
  font-family: arial;
}

body {
  margin: 0 50px;
}

a {
  text-decoration: none;
  color: #4f4f4f;
}

header a {
  color: white;
}

header *, footer * {
  display: inline-block;
}

header nav li {
  margin: 10px;
}

header nav {
  float: right;
  margin-right: 40px;
  vertical-align: middle;
  font-size: 1.1rem;
}

footer h4 {
  width: 5%;
  vertical-align: middle;
  margin-left: 10px;
}

footer nav {
  vertical-align: middle;
  float: right;
  margin-right: 40px;
  font-size: .8rem;
}

#disclaimer {
  width: 80%;
  font-size: .75rem;
  vertical-align: middle;
}

header h1 {
  margin-left: 20px;
}

/*header:after {
  content:' ';
  display:block;
  border:2px solid black
}*/

header {
  background-color: rgb(0, 51, 153);
  color: white;
}

/* ARTICLE */
.article-style {
  width: 80%;
  margin: 0 auto;
  display: inline-block;
}

.article-title {
  text-align: center;
  background-color: lightgray;
  padding: 5px;
  margin-bottom: 25px;
  font-size: 1.25rem;
}

.resize-image-large {
  height: 300px;
  width: auto;
}

.resize-image-small {
  height: 40px;
  width: 40px;
  margin: 4px;
}

.float-left {
  width: 5%;
  display: inline-block;
  float: left;
  margin-left: 75px;
  margin-right: 10px;
}
.center-image {
  display: block;
  margin: 0 auto;
}

.center-section {
  display: flex;
  justify-content: center;
}
