/* ALL */
html {
  font-family: arial;
}

body {
  margin: 0 50px;
}

a {
  text-decoration: none;
  color: #4f4f4f;
}

header a {
  color: white;
}

header *, footer * {
  display: inline-block;
}

nav li {
  margin: 10px;
}

header nav {
  float: right;
  margin-right: 40px;
  vertical-align: middle;
  font-size: 1.1rem;
}

footer h4 {
  width: 5%;
  vertical-align: middle;
  margin-left: 10px;
}

footer nav {
  vertical-align: middle;
  float: right;
  margin-right: 40px;
  font-size: .8rem;
}

#disclaimer {
  width: 80%;
  font-size: .75rem;
  vertical-align: middle;
}

header h1 {
  margin-left: 20px;
}

/*header:after {
  content:' ';
  display:block;
  border:2px solid black
}*/

header {
  background-color: #132eb8;
  color: white;
}

/* HOMEPAGE */
.homepage-width {
  width: 70%;
  display: inline-block;
  margin-left: 20px;
}

.homepage-width article {
  margin: 10px 0 30px 0;
}

main section p {
  width: 90%;
}

#top-cats {
  margin-left: 100px;
  width: 20%;
  display: inline-block;
  vertical-align: top;
}

.hide-this {
  display: none;
}

.homepage-title {
  background-color: lightgray;
  padding: 5px 20px;
}

/* ARTICLE */
.article-style {
  width: 80%;
  margin: 0 auto;
  display: inline-block;
}

.article-title {
  text-align: center;
  background-color: lightgray;
  padding: 5px;
  margin-bottom: 25px;
  font-size: 1.25rem;
}

.resize-image-large {
  height: 300px;
  width: auto;
}

.resize-image-small {
  height: 40px;
  width: 40px;
  margin: 4px;
}

.float-left {
  width: 5%;
  display: inline-block;
  float: left;
  margin-left: 75px;
  margin-right: 10px;
}
.center-image {
  display: block;
  margin: 0 auto;
}

.center-section {
  display: flex;
  justify-content: center;
}

/* PROFILES */

.profile-name {
  text-align: center;
  font-size: 2.5em;
  position: relative;
  height: 100px;
  background-color: lightgray;
  left: 0px;
  top: 0px;
  line-height: 100px;
  margin: 0px;
}

.profile-details {
  position: absolute;
  left: 175px;
  top: 140px;
  width: 50%;
}

.profile-image {
  border-radius: 50%;
  display: inline;
  height: 125px;
  width: 125px;
  margin-left: 20px;
}

.profile-date {
  display: inline-block;
  vertical-align: top;
  margin-top: 50px;
  margin-left: 20px;
}

.profile-article {
  width: 30%;
  display: inline-block;
  margin: 15px;
}

.center-posts {
  text-align: center;
}

.center-posts p {
  display: inline-block;
  text-align: left;
}

.clear-posts {
  margin-top: 125px;
}

.clear-posts h2 {
  margin-left: 20px;
  font-size: 1.75rem;
}

/* TESTING */
/** {
  border: black 1px solid;
}*/
